<!DOCTYPE html>
<html>
<head>
  <title>ThesisPOC</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id='action_bar'>
<% if session[:user_id] %>
<%= button_to 'Logout', logout_path, method: :delete %>
<% end %>
</div>
<%= yield %>

</body>
</html>
