<!DOCTYPE html>
<html>
<head>
  <title>Access Control Web Interface</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id='title_bar'>
<h1>Access Control Web Interface</h1>
</div>
<% if session[:user_id] %>
<div id='message_bar'>
<script src="http://localhost:8080/nowjs/now.js"></script>

<script>

var currentTarget = null;
var currentObject = null;

//Animate and open up a div
doMove = function(divRef,innerDivName) {
  offset = parseInt(divRef.style.height)+10;
  divRef.style.height = offset +'px'; //ugly
  if(offset < 350){
    setTimeout(function(){doMove(divRef,innerDivName)},10); // call doMove in 5msec
  } else {
    document.getElementById(innerDivName).style.display = "block";
  }
}

//setup values once the page is loaded
function init() {
  document.getElementById('dropdownform').style.display = "none";
}

function setupRequesting(){
  now.receiveMessage = function(name, message){
    $("#messages").append("<br>" + name + ": " + message);
  }
 
  now.requestStack = function(message){
    alert('request recieved!!');
    $("#messages").append("<br>" + "request: " + message);
  }
 
  now.updateRequests = function(){
  }
}

$(document).ready(function(){
  init();
  now.name = '<%= @user_name %>';  
  setupRequesting();
});

function openRequestForm(target,pobject){
  divName = 'object' + pobject;
  innerDivName = 'innerForm' + pobject;
  requestForm = document.getElementById(divName);
  requestForm.style.display = "block";
  document.getElementById(innerDivName).style.display = "none";
  requestForm.style.height = '0px';
  //TODO: fix this when prototype is done
  currentTarget = target;
  currentObject = pobject;
  doMove(requestForm,innerDivName);
  //TODO: focus correctly on the form
  $('#'+divName).focus();
}

function request()
{
  dropDown = document.getElementById('dropdown'); // get the "foo" object
  dropDown.style.background = '#ED5314';
  //TODO:fix this.
  pobject = currentObject;
  target = currentTarget;
  message = document.forms["frm1"]["message"].value;
  now.sendRequest(target,pobject,message);
  return false;
}

</script>
 
<body> 
<div id='action_bar'>
<% if session[:user_id] %>
<p> Welcome <%= @user_name %>. You are currently logged in.</p>
<%= button_to 'Logout', logout_path, method: :delete %>
<% end %>
</div>
<div id="requests">
<% @my_notices.each do |notice| %>
  <div class="notice" id="request">
    <p> Request from: <%= notice.user_id %> </p>
    <p> For object: <%= notice.object_id %> </p>
    <p> With additional info: <%= notice.message %></p>
          <%= render :partial => 'notice_queues/requestForm', :locals => {:pobject_id => notice.object_id, :request => false, :subject => notice.user_id} %>
  </div>
<% end %>
</div>
<div id="replies">
<% @my_replies.each do |notice| %>
  <div class="reply" id="request">
    <p> Reply from user:      <%= notice.sender_name %> </p>
    <p> For action:           <%= notice.action %>      </p>
    <p> For object:           <%= notice.object_name %> </p>
    <p> With additional info: <%= notice.message %>     </p>
  </div>
<% end %>
</div>
<div id="messages"></div>
</div>
<% end %>

<div id='layout_container'>
  <div id='left_spacer'>
  </div>

  <div id='content'>
    <%= yield %>
  </div>

  <div id='right_spacer'>
  </div>
</div>
  <div id='footer'>
    <p>Copyright Ronan Thomas Huggard 2012</p>
  </div>
</body>
</html>
