<!DOCTYPE html>
<html>
<head>
  <title>Access Control Web Interface</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id='title_bar'>
<h1>Access Control Web Interface</h1>
</div>
<% if session[:user_id] %>
<div id='message_bar'>
<script src="http://localhost:8080/nowjs/now.js"></script>

<script>

var dropDown = null;

function appendForm(){
$("#dropdown").append("<p>Extra Information:<br />\
<form name=\"frm1\" action=\"\" onsubmit=\"return request()\">\
<textarea rows = 5 cols=40 name=\"message\" wrap=virtual>\
</textarea>\
<br />\
<input type=\"submit\" value=\"Submit\" />\
</form>\
</div>\
</p>");
}

function doMove() {
  offset = parseInt(dropDown.style.height)+10;
  dropDown.style.height = offset +'px'; //ugly
  if(offset < 200){
    setTimeout(doMove,5); // call doMove in 5msec
  } else {
    appendForm();
  }
}

function init() {
  dropDown = document.getElementById('dropdown'); // get the "foo" object
  dropDown.style.height = '0px'; 
  dropDown.style.background = '#FFB92A';
  doMove(); // start animating
  setupMessageing();
}

function setupMessageing(){
  now.receiveMessage = function(name, message){
    $("#messages").append("<br>" + name + ": " + message);
  }
  
  $("#send-button").click(function(){
    now.distributeMessage($("#text-input").val());
    $("#text-input").val("");
  });
}

$(document).ready(function(){
  init();
  now.name = '<%= @user_name %>';  
  setupMessageing();
});

function request()
{
  dropDown = document.getElementById('dropdown'); // get the "foo" object
  dropDown.style.background = '#00FF00';
  $("#dropdown").append("<p>" + 'REQUEST SENT' + "</p>");
  
  alert("Welcome " + document.forms["frm1"]["message"].value + "!!")
  
return false;
}
</script>
 
<body> 
<div id="messages"></div>
<div id="dropdown">
</div>
<% end %>
<div id='action_bar'>
<% if session[:user_id] %>
<p> Welcome <%= @user_name %>. You are currently logged in.</p>
<%= button_to 'Logout', logout_path, method: :delete %>
<% end %>
</div>

<div id='layout_container'>
  <div id='left_spacer'>
  </div>

  <div id='content'>
    <%= yield %>
  </div>

  <div id='right_spacer'>
  </div>
</div>
  <div id='footer'>
    <p>Copyright Ronan Thomas Huggard 2012</p>
  </div>
</body>
</html>
