<h1>Listing pobjects</h1>

<table>
  <tr>
    <th>Uri</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pobjects.each do |pobject| %>
  <tr>
    <td><%= image_tag pobject.avatar.url(:thumb) %></td>
    <td><%= pobject.uri %></td>
    <td><%= pobject.owner %>
    <% if pobject.access %>
    <td><%= link_to 'Show', pobject %></td>
    <% else %>
    <td><a href="javascript:void(0)" onclick="openRequestForm('<%= pobject.owner %>',<%= pobject.id %>)">request access</a></td>
    <% end %>
    <td><%= link_to 'Edit', edit_pobject_path(pobject) %></td>
    <td><%= link_to 'Destroy', pobject, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
  <tr>
     <td colspan ="6">
        <div class='notice' id='object<%=pobject.id%>' style="display:none">
          <div id='innerForm<%=pobject.id%>' style="display:none">
          <%= render :partial => 'notice_queues/requestForm', :locals => {:pobject_id => pobject.id, :request => true, :subject => @user_id } %>
          </div>
        </div>
     </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pobject', new_pobject_path %>
