<h1>Listing pobjects</h1>

<table>
  <tr>
    <th>File</th>
    <th>Description</th>
    <th>Owner</th>
    <th colspan ="3">Actions</th>
  </tr>

<% @pobjects.each do |pobject| %>
  <tr>
    <td>File-<%= pobject.id %>: <%= pobject.avatar_file_name %></br><%= image_tag pobject.avatar.url(:thumb) %></td>
    <td><%= pobject.description %></td>
    <td><%= pobject.owner %>
    <% if pobject.access %>
    <td><%= link_to 'Show', pobject %></td>
    <td><%= link_to 'Edit', edit_pobject_path(pobject) %></td>
    <td><%= link_to 'Destroy', pobject, confirm: 'Are you sure?', method: :delete %></td>
    <% else %>
    <td><a href="javascript:void(0)" onclick="openRequestForm('<%= pobject.owner %>',<%= pobject.id %>)">request access</a></td>
    <td></td>
    <td></td>
    <% end %>
  </tr>
  <tr>
     <td colspan ="6">
        <div class='notice' id='object<%=pobject.id%>' style="display:none">
          <div id='innerForm<%=pobject.id%>' style="display:none">
          <%= render :partial => 'notice_queues/requestForm', :locals => {:pobject_id => pobject.id, :request => true, :response => false, :subject => @user_id } %>
          </div>
        </div>
     </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pobject', new_pobject_path %>
